.footer {
  color: white;
  background-color: #0067a3;
  width: 100%;
  display: flex;
  font-size: 18px;
  padding: 18px 0 18px 0px;
}
.active_tasks {
  margin-left: 20px;
  margin-right: 36px;
}
.author {
  flex-grow: 1;
  text-align: right;
  margin-right: 19px;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}